<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pharmachy.Properties.Settings.db_eczaneConnectionString"
            connectionString="Data Source=DESKTOP-KMTSQOH;Initial Catalog=db_eczane;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Pharmachy.Properties.Settings.db_eczane_denemeConnectionString"
            connectionString="Data Source=Z36-02\SQLEXPRESS;Initial Catalog=db_eczane_deneme;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>